* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgba(236, 231, 231, 0.973);
}


/*=============HEADER============*/

header {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

h1 {
    color: rgb(238, 213, 130);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}


.contenedor-ul {

    border-radius: 10px;
    background-color: rgb(51, 52, 53);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
}

a {

    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
}

.caja-bajo-header {
    background-color: rgba(61, 2, 2, 0.623);
    padding: 5px;
}

.container-imagenes-fender {
    margin: 20px;

}

h3 {
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: rgb(150, 52, 6);
}

.parrafo {
    text-align: center;
    padding: 10px 30px 10px 30px;
    font-size: 1em;
}



.div-imagen-index {
    display: flex;
    justify-content: center;
}


.img-guitarra-index {
    border: 10px solid rgba(61, 2, 2, 0.623);
    width: 80%;
    border-radius: 10px;
}

.titulo-imagen {
    background-color: rgba(233, 201, 95, 0.308);


}

.titulo-videos {
    background-color: rgba(233, 201, 95, 0.308);
    margin-top: 5px;
}

.div-video {
    background-color: rgb(211, 203, 190);
    display: flex;
    justify-content: center;
}

.video {
    width: 100%;
}

.comentario-video {
    font-size: 0.8em;
    margin-bottom: 10px;

}

.footer {
    background-color: rgba(0, 0, 0, 0.651);
}

.copy-right {
    font-size: 0.7em;
}

.img-container {
    text-align: center;
}


.imagen {
    width: 75%;
}

.container-imagenes-gibson {
    margin: 20px;
}

.container-input {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.botones{
    display: inline-flex;
    margin: 0.5rem;
    align-items: center;
}


.form {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 50%;
    height: 20px;
    margin: 0.5rem;
}

.form button {

    padding: 10px;
    border: none;
    background: rgb(6, 7, 7);
    cursor: pointer;
}



@media (min-width:1000px){
    .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh 5vh;
}

.contenedor-ul{
    display: flex;
        justify-content: center;
    gap: 40px;
}

.contenedor-nav{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;

}
.titulo-seccion{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}

.titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contendor-articulo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

   
}

.imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.seccion-video{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.parrafo-video{
    background-color: rgb(211, 203, 190);
}
}
