* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 231, 231, 0.973);
  position: relative;
}

header {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
}
header h1 {
  color: rgb(238, 213, 130);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header h2 {
  color: antiquewhite;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  border-radius: 10px;
  background-color: rgb(51, 52, 53);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
  gap: 40px;
}
nav ul a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  font-size: 1em;
}
nav ul a:hover {
  color: black;
}

.caja-bajo-header {
  background-color: rgba(61, 2, 2, 0.623);
  padding: 5px;
}

.caja--sobre--footer {
  background-color: rgba(61, 2, 2, 0.623);
  padding: 5px;
}

h3 {
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  color: rgb(150, 52, 6);
  background-color: rgba(233, 201, 95, 0.308);
}

.parrafo {
  background-color: rgb(221, 216, 216);
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
  padding: 10px;
  font-size: 1.2rem;
}

.imagen {
  display: block;
  margin-left: auto;
  margin-top: auto;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

footer {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
}

.copy-right {
  font-size: 0.5rem;
}

.video {
  display: block;
  width: 100%;
  justify-content: center;
}

/*========FORMULARIO=======*/
form {
  display: block;
  background-color: rgb(211, 209, 207);
  margin: 15px auto 15px auto;
  width: 400px;
  padding: 1em;
  border: 2px solid #706258;
  border-radius: 1em;
}
form .formulario {
  margin-top: 5px;
}
form .formulario label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
form .formulario textarea {
  font: 1em sans-serif;
  width: 242px;
  height: 124px;
  box-sizing: border-box;
  border: 1px solid #999;
  vertical-align: top;
}
form .formulario .button {
  text-align: center;
  padding: 5px;
  margin-left: 90px;
  margin-top: 10px;
  background-color: rgb(185, 171, 171);
  border-radius: 10px;
}
form .formulario .button:hover {
  color: white;
  background-color: rgb(44, 35, 35);
}

@media (min-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh 5vh;
  }
  .header .titulo-seccion {
    text-align: right;
    margin-right: 20px;
  }
  .header .contenedor-nav {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor--texto--index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor--texto--index .parrafo {
    display: flex;
    grid-row: 1/span 1;
  }
  .contenedor--texto--index .imagen--index {
    display: flex;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgb(221, 216, 216);
  }
  .div--video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contendor--articulo--fender {
    display: grid;
    background-color: rgb(221, 216, 216);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .contendor--articulo--fender .parrafo--fender {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contendor--articulo--fender .img--jimi {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }
  .contendor--articulo--fender .img--cobain {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contendor--articulo--fender .img--yngwie {
    display: flex;
    height: 90%;
    justify-content: center;
  }
  .contendor--articulo--gibson {
    display: grid;
    background-color: rgb(221, 216, 216);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20vh 10vh);
  }
  .contendor--articulo--gibson .img--angus {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contendor--articulo--gibson .parrafo-gibson {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contendor--articulo--ibanez {
    display: grid;
    background-color: rgb(221, 216, 216);
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
