@media (min-width:800px) {

.contendor--articulo--gibson {
    display: grid;
    background-color: $color-primario;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20vh 10vh);

    .imagen--pappo{
        margin-left: auto;
        margin-right: auto;
    }

    .img--bbking{
margin-left: auto;
        margin-right: auto;
    }
    .img--angus {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: auto;
        margin-bottom: auto;
        background-color:$color-primario;
        animation-name: mover-caja-angus;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-delay: 3s;
        animation-fill-mode: both;
    }

    .parrafo-gibson {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}
 }

 @media (min-width:1200px) {
 .contendor--articulo--gibson {
    display: grid;
    background-color: $color-primario;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    text-align: center;

    .parrafo-gibson {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .img--angus {
        grid-column: 3/4;
        grid-row: 2/3;
        width: 75%;
    }
}
 }

 @keyframes mover-caja-angus {
    0% {

        translate: 0 0;
    }


    25% {

        translate: 0px -100px;
    }

    50% {

        translate: 0px 100px;
    }

    100% {

        translate: 0 0;
    }

 }