h1 {
    
    justify-content: center;
    color: rgb(11, 10, 12);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(156, 153, 149);
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;

}



h2 {
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
    color: rgb(150, 52, 6);
    background-color: rgba(233, 201, 95, 0.308);
}

.parrafo {
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    font-family:  'Acme', sans-serif;
    text-align: justify;
    padding: 10px;
    font-size: 1.2rem;

}


@media (min-width:1200px) {

    }
    @media (min-width:1200px) {
        .parrafo--video {
            background-color: rgb(187, 180, 180);
            display: flex;
            grid-column: 2/4;
            grid-row: 1/2;
        }
     }
     