header{
    margin: 0;
    padding: 0;
    

.navbar-toggler{
    
        color: rgb(70, 64, 64);
        background-color: rgb(171, 171, 189);
        margin: 5px;

    }
}
 .bg-color{
        background-color: rgba(61, 2, 2, 0.26);
        padding: 0;
        margin: 0;
      }
  
   

     
