nav {

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        border-radius: 10px;
        background-color: rgb(51, 52, 53);
        display: flex;
        justify-content: space-between;
        padding: 10px;
        list-style: none;
        gap: 40px;

        a {
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            color: white;
            font-size: 1em;

            &:hover {
                color: black
            }
        }
    }
}
