.caja-bajo-header {
    background-color: rgba(61, 2, 2, 0.623);
    padding: 5px;
    margin: 0;
}

.caja--sobre--footer {
    background-color: rgba(61, 2, 2, 0.623);
    padding: 5px;
    margin: 0;
}
