@media (min-width:800px) {

.div--video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
 }

 @media (min-width:1200px) {
 
    .div--video {
        background-color: rgb(187, 180, 180);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 25vh 40vh;

    
        .video {
            display: flex;
            grid-column: 2/4;
            grid-row: 2/3;
            margin-top: 10px;
        }
    }
 }

  